.menuPanel {
	padding-right: 2em;
}

.menuButton {
	padding: 0.2em 1em !important;
}

.menuLabel {
	padding: 0.2em 1em;
}

.playgroundPanel {
	padding-top: 2em;
}

.playgroundGrid {
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
}

.statusText {
	padding-top: 2em;
}

.gameField {
	background-color: #e9e9e9;
	border-top: 2px solid #999;
	border-left: 2px solid #999;
	border-right: none;
	border-bottom: none;
	width: 1.4em;
	font-size: 5em;
	text-align: center;
}

.ui-button-text-only .ui-button-text {
	min-height: 1.4em;
}

.gameStoneX {
	color: blue;
}

.gameStoneO {
	color: red;
}